<footer>
  <!-- full div -->
  <div>

    <!-- Git + Study Nr-->
    <div class="text-center">
      <!-- Studie Nummer -->
      <div class="text-center p-3" style="display: inline-block;">
        <p style="font-weight:bold; font-size: 16px;">Study Number: </p>
        <div>
          <p>Mattias: 293124</p>
          <p>Maria: 293197</p>
        </div>
      </div>

      <!-- Git hub link-->
      <div class="text-center p-3" style="display: inline-block; height: 152px; width: 152.13px; bottom: 5px">
        <p style="font-weight:bold; font-size: 16px;">Github: </p>
        <div>
          <div>
            <a href="https://github.com/Sjunne/SEP6-Frontend.git">Frontend </a>
          </div>
          <div>
            <a href="https://github.com/Sjunne/SEP6-Frontend.git">Backend </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Copyright -->
    <div class="text-center">
      <div class="text-center">
        © 2020 Copyright:
        <a class="text-center">Mattias Leth Sjunnesson & Maria Frandsen</a>
      </div>
    </div>

  </div>
</footer>
 



