<footer class="bg-light text-center text-lg-start">
  <!-- Studie Nummer -->
  <div>
    <div class="text-center p-3" style="margin-left: 40%; margin-top: 20px; display: inline-block; float: left; ">
      <p style="font-weight:bold; font-size: 16px;">Study Number: </p>
      <div>
        <p>Mattias: 293124</p>
        <p>Maria: 293197</p>
      </div>
    </div>
    <div class="text-center p-3" style="float: left; margin-top: 20px; padding-left: 150px; display: inline-block;">
      <p style="font-weight:bold; font-size: 16px;">Github: </p>
      <div>
        <a href="https://github.com/Sjunne/SEP6-Frontend.git">Frontend </a>
      </div>
      <div style="margin-top:10px">
        <a href="https://github.com/Sjunne/SEP6-Frontend.git">Backend </a>
      </div>
    </div>
  </div>


  <!-- Git hub link-->  

  <!-- Copyright -->
  <div class="text-center p-3 CopyRight">
    © 2020 Copyright:
    <a class="text-dark">Mattias Leth Sjunnesson & Maria Frandsen</a>
  </div>
  <!-- Copyright -->
</footer>
