.app-wrapper {
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}

.tool-bar-container {
    width: 100%;
    height: 70px;
    background-color: black;
    position: fixed;
    top: 0px;
    display: grid;
    grid-template-columns: 40% 50%;
}

.Image-toolbar {
  height: 70px;
  width: 120px;
  display: flex;
}

.nav-container {
    display: flex;
    align-items: center;
}

.page-title {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btnLogout {
  float: right;
  position: absolute;
  width: 150px;
  right: 15px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.btnProfile  {
  float: left;
  position: absolute;
  width: 150px;
  right: 155px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

