<div style="display: flex;">
  <select name="my-select" [(ngModel)]="category" (change)="selectCategory()">
    <option [value]="item.id" *ngFor="let item of categories">
      {{item.name}}
    </option>
  </select>
  <form class="example" action="action_page.php">
    <input type="text" id="searchText" name="searchText" [(ngModel)]="searchText" placeholder="Search.." name="search">
    <button type="submit" (click)="search()"><i class="fa fa-search">Search</i></button>
  </form>
  <span *ngIf="!loggedIn" style="float: left;">
    <div style="float: left; padding-top: 5px;">
      <app-sign-in></app-sign-in>
    </div>
  </span>
</div>
