<div class="container" style="margin: 100px">
  <div class="row">
    <div class="col">
      <img alt="poster" src="{{this.person.profile_path}}" />
    </div>
    <div class="col">
      <p style="color: black">{{this.person.name}}</p>
      <p style="color: black">{{this.person.birthday}}</p>
      <p style="color: black">{{this.person.popularity}}</p>
      <p style="color: black">{{this.person.place_of_birth}}</p>
    </div>
    <div class="col">
      <p style="color: black">{{ this.person.biography }}</p>
    </div>
  </div>
  <app-carousel-image [direction]="knownfor"></app-carousel-image>
  <google-chart *ngIf="movies" [data]="lineChart" (chartReady)="ready($event)" (chartError)="error($event)" (chartSelect)="select($event)"></google-chart>
</div>
<app-comments [movieId]="id"></app-comments>
