<div class="container" style="margin: 100px">
  <div class="row">
    <div class="col">
      <img alt="poster" src="{{this.person.profile_path}}"/>
    </div>
    <div class="col">
      <p style="color: black">{{this.person.name}}</p>
      <p style="color: black">{{this.person.birthday}}</p>
      <p style="color: black">{{this.person.popularity}}</p>
      <p style="color: black">{{this.person.place_of_birth}}</p>
    </div>
    <div class="col">
      <p style="color: black">{{ this.person.biography }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">1 of 3</div>
    <div class="col">2 of 3</div>
    <div class="col">3 of 3</div>
  </div>
</div>
