<div style="background-color:darkslategray; display: flex;">
  <div style="padding-top: 5px; padding-left: 10px">
    <div style="height: 150px">
      <h1>Welcome</h1>
      <p>this webpage uses The Movie DB API for data</p>
      <a href="https://www.themoviedb.org/documentation/api">
        <img
          src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg"
          style="max-width:250px"/>
      </a>
    </div>
    <div style="align-content:center">
      <app-carousel-image [direction]="popular"></app-carousel-image>
      <app-carousel-image [direction]="actors"></app-carousel-image>
      <app-carousel-image [direction]="upcomming"></app-carousel-image>
      <app-carousel-image [direction]="series"></app-carousel-image>
      <app-carousel-image [direction]="theaters"></app-carousel-image>
    </div>
  </div>

  <span *ngIf="!loggedIn" style="float: left;">
    <div style="float: left; padding-top: 5px;">
      <app-sign-in></app-sign-in>
    </div>
  </span>
</div>
