<div style="background-color:darkslategray">
  <div style="padding:0px 30px 10px 30px">
    <div>
      <div style="height: 35px; margin-top: 10px; font: bold 48px; ">
        <h1 style="font-size:3rem; color: white">{{movie.title}}</h1>
      </div>
      <div style="margin-top: 5px; ">
        <h1 style="font: x-small 14px; color: white">{{movie.year}}</h1>
      </div>

    </div>


    <div style="display: flex; height: 443px">
      <div style="">
        <img src="{{movie.poster}}" style="height: 443px"/>
      </div>
      <div style="float: left; width: 40%; padding: 5px; overflow:auto; height: 443px; border-bottom: none">
        <h3>Summary:</h3>
        <p>{{movie.plot}}</p>
      </div>
      <div style="float: right; width:25%;">
        <div>
          <h3>Actors:</h3>
          <ul>
            <li (click)="SelectPerson(actor)" *ngFor='let actor of movie.actorList'>
              <a>{{ actor }} </a>
            </li>
          </ul>
        </div>
        <div>
          <h3>Directors:</h3>
          <ul>
            <li (click)="SelectPerson(director)" *ngFor='let director of movie.directorList'>
              <a>{{ director }} </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div style="">
      <p>Imdb Rating: {{movie.imdbRating}}/10</p>
    </div>

  </div>
</div>
